*{
    margin:0% ;
    padding: 0%;
    box-sizing: border-box;

}

h1{
    color: red;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.container {
      max-width: 600px;
      margin: 100px auto; 
      padding: 40px;
      text-align: center;
      background: linear-gradient(135deg, #6a11cb, #2575fc);
      border-radius: 15px;
      box-shadow: 0 8px 20px rgba(0,0,0,0.3);
      color: #fff;
      font-family: 'Arial', sans-serif;
      cursor: pointer;
    }


    .container:hover{
        background-color: aliceblue;
    }
